
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.cell-disabled{
	background-color: grey;
}

.cell-disabled div{
	display: none;
}


.cell-abled{
	background-color: beige;
	
}

.cell{
	width: 100px;
	height: 70px;
	position: relative;
	margin-right: 0;
	font-size: large;
}

th {
	text-align: center;
	border: solid;
	border-bottom: solid;
	background-color: burlywood;
}

td{
	border: solid;
}

tr{
	border: solid;
}
table{
	border: solid;
}

.attend-icon{
	width: 50px;
	height: 50px;
	position: absolute;
	right: 10px;
	bottom: 10px
}

input[type= text], input[type=email], input[type=date] {
	width: 400px;
}

.not-work{
	background-color: coral;
}

.menu{
	padding: 50px;
	
	display: table;
	width: 900px;
	height: 715px;
	background-color:ghostwhite;
	
}

.menu-btn{
	margin: 50px ;
	font-size: 25px;
	font-weight: bold;
	
	line-height: 100px;
	height: 150px;
	width: 300px;
}

.background{
	z-index: -1;
	position: fixed;
	width: 1700px;
	opacity: 0.5;
}

