<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Employee Management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css">
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Employee Management System</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<br>
		<br>
		<h1>Employee Management System</h1>
		<hr>
		<h2>Save Employee</h2>

		<form action="#" th:action="@{/employees/saveEmployee}" th:object="${employee}" method="POST">
			
			<label for="First Name">First Name</label>
			<input type="text" th:field="*{firstName}" id="First Name" class="form-control mb-4 col-4">
			<label for="Last Name">Last Name</label>
			<input type="text" th:field="*{lastName}" id="Last Name" class="form-control mb-4 col-4">
			<label for="Email">Email</label>
			<input type="text" th:field="*{email}" id="Email" class="form-control mb-4 col-4">
			<label for="Phone Number">Phone Number</label>
			<input type="text" th:field="*{phone}" id="Phone Number" class="form-control mb-4 col-4">
			<label for="Home Town">Home Town</label>
			<input type="text" th:field="*{homeTown}" id="Home Town" class="form-control mb-4 col-4">
			<label for="date">Date of birth</label>
			<input type="date" class="form-control  mb-4 col-4" name="date" autocomplete="off"/>
			

			<label for="Male">Male</label>
			<input type="radio" th:field="*{gender}" value="Male" id="Male">
			<labe for="Female">Female</labe>
			<input type="radio" th:field="*{gender}" value="Female" id="Female">

			<br>
			<label for="department">Department &nbsp;</label>
			<select name="department">

				<option th:each="d : ${listDepartments}" th:value="${d.getId()}" th:text="${d.getName()}"></option>

			</select>
			<br>
			<br>
			<button type="submit" class="btn btn-info col-2"> Save Employee</button>
		</form>

		<hr>


		<a th:href="@{/employees}"> Back to Employee List</a>
	</div>
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
	<script th:src="@{assets/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

	<script>
		$('.input-group.date').datepicker({
			autoclose: true,
			todayHighlight: true
		});
	</script>
</body>

</html>