<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Employee Management System</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="/style.css">
</head>



<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Employee Management System</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<br>
		<br>
		<h1>Employee Management System</h1>
		<hr>
		<h2>Save Contract</h2>

		<form action="#" th:action="@{/contracts/saveContract}" th:object="${contract}" method="POST" onsubmit="checkChief()">
			<input type="hidden" th:field="*{id}" />
			<label for="id">Contract id</label>
			<select name="id_contract">
				<option th:each="e : ${noContractEmployees}" th:value="${e.id}"
					th:text="${e.id} + ' - ' + ${e.fullName}"></option>
			</select>
			<br>
			<br>
			<label for="signed">Signed date</label>
			<input type="date" class="form-control  mb-4 col-4" name="signed" autocomplete="off" required />
			<label for="start">Start date</label>
			<input type="date" class="form-control  mb-4 col-4" name="start" autocomplete="off" required />
			<label for="end">End date</label>
			<input type="date" class="form-control  mb-4 col-4" name="end" autocomplete="off" required />
			<label for="department">Department &nbsp;</label>
			<select name="department" id="department" onclick="updateChiefSelect()">

				<option th:each="d : ${listDepartments}" th:value="${d.getId()}" th:text="${d.getName()}"></option>

			</select>
			<label for="position">Position</label>
			<select th:field="*{position}" id="position">
				<option th:value="Employee" th:text="Employee"></option>
				<option th:value="Chief" th:text="Chief"></option>
			</select>
			<br>
			<br>
			<label for="dailyWage">Daily wage</label>
			<select name="dailyWage">
				<option th:value=500000 th:text="500000"></option>
				<option th:value=450000 th:text="450000"></option>
				<option th:value=400000 th:text="400000"></option>
			</select>
			<br>
			<br>
			<button type="submit" class="btn btn-info col-2"> Save Contract</button>
		</form>

		<hr>

		<a th:href="@{/contracts}"> Back to Contracts List</a>
	</div>


</body>
<script th:inline="javascript">
	/*<![CDATA[*/
	var form = document.querySelector('form');
	form.addEventListener('submit', function (event) {
		var signed = document.getElementsByName("signed")[0];
		signed.addEventListener("change", function () {
			signed_date = signed.value;
		});
		var start = document.getElementsByName("start")[0];
		start.addEventListener("change", function () {
			start_date = start.value;
		});
		var end = document.getElementsByName("end")[0];
		end.addEventListener("change", function () {
			end_date = end.value;
		});
		if (signed.value > start.value || start.value > end.value) {
			alert("Please check your dates!");
			event.preventDefault();
		}
	});
	function updateChiefSelect() {
		var departments = /*[[${listDepartments}]]*/ [];
        var selectedDepartmentId = document.getElementById("department").value;
        var chiefSelect = document.getElementById("position");
        var chief = /*[[${hasChief}]]*/ [];
        var index=0;
        while(departments[index].id!=selectedDepartmentId){
			index++;
		}
		var hasChief = chief[index];
        if (hasChief) {
            chiefSelect.options[0].disabled = false;
            chiefSelect.options[1].disabled = true;
            chiefSelect.value = "employee";
        } else {
            chiefSelect.options[0].disabled = false;
            chiefSelect.options[1].disabled = false;
        }
    }
    /*]]>*/
</script>


</html>
