<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Employee Management System</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Employee Management System</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<br>
		<br>
		<h1>Employee Management System</h1>
		<hr>
		<h2>Update Department</h2>

		<form action="#" th:action="@{/departments/saveDepartment}" th:object="${department}" method="POST">

			<!-- Add hidden form field to handle update -->
			<input type="hidden" th:field="*{id}" />

			<label for="Name">Name</label>
			<input type="text" th:field="*{name}" id="Name" class="form-control mb-4 col-4">
			<label for="Description">Description</label>
			<input type="text" th:field="*{desc}" id="Description" class="form-control mb-4 col-4">

			<div class="container my-2">

				<table border="1" class="table table-striped table-responsive-md">
					<h3>Employees In Department</h3>
					<p>Tick to remove from department</p>
					<thead>
						<tr>
							<th></th>
							<td>ID</td>
							<th>
								Full Name
							</th>
							<th>
								Gender
							</th>
							<th>
								Email
							</th>
							<th>
								Position
							</th>
							<th sec:authorize="hasRole('ADMIN')"> Actions </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="employee : ${inDepartment}">
							<td><input type="checkbox" name="toRemove" th:value="${employee.id}" /></td>
							<td th:text="${employee.id}"></td>
							<td th:text="${employee.fullName}"></td>
							<td th:text="${employee.gender}"></td>
							<td th:text="${employee.email}"></td>
							<td th:text="${employee.position}"></td>
							<td>
								<a th:href="@{/employees/detailsEmployee/{id}(id=${employee.id})}"
									class="btn btn-primary">Details</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<br>
			<br>

			<div class="container my-2">

				<table border="1" class="table table-striped table-responsive-md">
					<h3>Employees Available To Assign</h3>
					<p>Tick to add to department</p>
					<thead>
						<tr>
							<th></th>
							<th>ID</th>
							<th>
								Full Name
							</th>
							<th>
								Gender
							</th>
							<th>
								Email
							</th>
							<th>
								Position
							</th>
							<th> Actions </th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="employee : ${available}">
							<td><input type="checkbox" name="toAdd" value="employee" /></td>
							<td th:text="${employee.id}"></td>
							<td th:text="${employee.fullName}"></td>
							<td th:text="${employee.gender}"></td>
							<td th:text="${employee.email}"></td>
							<td th:text="${employee.position}"></td>
							<td>
								<a th:href="@{/employees/detailsEmployee/{id}(id=${employee.id})}"
									class="btn btn-primary">Details</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<button type="submit" class="btn btn-info col-2"> Update Department</button>
		</form>

		<hr>

		<a th:href="@{/departments}"> Back to Department List</a>
	</div>
</body>

</html>